<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="loginStyle.css">
        <link rel="stylesheet" type="text/css" href="navbar.css">
        <title>Login Page</title>
    </head>
    
    <body>
        <%-include('partials/navbar', { user: user }) %>
        
     <div class = "container">
        <div class="form">
            <h1>Login</h1> 
            <form>
                <input type="text" placeholder="username"/>
                <input type="password" placeholder="password"/>
                
                <a href="/auth/google">
                    <button type="button" class="btn btn-success">Login with Google</button>
                </a>
                <p class="message"> Not registered?
                    <a href="signup"> Create an account </a>
                </p>
            </form>
        </div>
    </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>