<!DOCTYPE html>
<html>
 <head>
     <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
     <link rel="stylesheet" type="text/css" href="/profileStyle.css"/>
     <link rel="stylesheet" type="text/css" href="/navbar.css">
    <title>User Profile</title>
 </head>
    
 <body>
     <%-include('partials/navbar', { user: user }) %>
  
     <div class="container">
        <div class="jumbotron">
            <h1>Welcome  <%= user['name'] %>!</h1>
        </div>
         
        <div class="row">
        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="col-lg-3 col-md-6">
            <ul class="sidebar-nav">
                <li>
                    <a href="/profile/favorites">Favorites</a>
                </li>
                <li>
                    <a href="#">History</a>
                </li>
                <li>
                    <a href="#">Schedule</a>
                </li>
                <li>
                    <a href="#">Nutrinalysis</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
            
        <div id="profile-content" class="col-lg-9 col-md-7">
            <h3>Favorites</h3>
            <ul>
            <% savedRecipes.forEach(function(recipe) {  %>
                <li><a href="/profile/nutrinalysis/<%= recipe["yummly_id"] %>"><%= recipe["title"] %></a></li>
            <% }) %>
            </ul>
        </div>
     </div>
         
     </div>
     
     
     
 
     
     
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 </body>
</html>